{% extends "base.html" %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}
<br><br><br><br><br>
<div class="container my-3 p-3">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="alert alert-info" role="alert">
                    Your password has been set. You may go ahead and <a href="{% url 'accounts:login' %}" class="alert-link">Login Here</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}