{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block title %}Blog{% endblock %}
{% load humanize %}
{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>Blog</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'website:index' %}">Home</a></li>
        <li>Blog</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">
          {% for post in posts %}

          <article class="entry">

            <div class="entry-img">
              <img src="{{post.image.url}}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                    href="{% url 'blog:author' author=post.author.username %}">{{post.author.get_full_name}}</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#" ><time
                      datetime="2020-01-01">{{post.published_date|naturalday}}</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url 'blog:single' pid=post.id %}">
                  {% comments_count post.id %} Comments</a></li>
                <li class="d-flex align-items-center">{{post.counted_views}} views</li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                {{post.content|truncatechars:255 |safe}}
              </p>
              <div class="read-more">
                <a href="{% url 'blog:single' pid=post.id %}">Read More</a>
              </div>
            </div>

          </article><!-- End blog entry -->
          {% endfor %}

          {% include 'blog/blog-pagination.html' %}

        </div><!-- End blog entries list -->

        <div class="col-lg-4">

          <div class="sidebar">

            {% include 'blog/blog-search.html' %}

            {% post_categories %}

            {% recent_posts 5 %}

            {% post_tags %}

          </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->

      </div>

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->

{% endblock %}